@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 240px;
    height: 390px;
    padding: 30px;
}

.section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sedans{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.suvs{
    background: hsl(184, 100%, 22%);
}

.luxury{
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.section-title{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 45px;
}
.section-title,
.section-info{
color: hsla(0, 0%, 100%, 0.75);
}

.section-info,
.section-button{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;

}

.section-info{
    line-height: 25px;
    font-size: 15px;
}

.section-button{
    margin-top: 32px;
    padding: 16px;
    width: 160px;
    border-radius: 24px;
    border-color: transparent;
    background-color: white;
    box-shadow: none;
}

.button-sedans{
    color: hsl(31, 77%, 52%);
}
.button-suvs{
    color: hsl(184, 100%, 22%);
}
.button-luxury{
    color: hsl(179, 100%, 13%);
}

.button-sedans:hover,
.button-sedans:active{
    color: hsl(0, 0%, 95%);
    background: hsl(31, 77%, 52%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.button-suvs:hover,
.button-suvs:active{
    color: hsl(0, 0%, 95%);
    background: hsl(184, 100%, 22%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.button-luxury:hover,
.button-luxury:active{
    color: hsl(0, 0%, 95%);
    background: hsl(179, 100%, 13%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

@media (min-width:52.5rem){
    .section{
        max-width: 220px;
        min-width: 200px;
        height: fit-content;
    }

    .section-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sedans{
        border-radius: 10px 0 0 10px;
    }

    .luxury{
        border-radius: 0 10px 10px 0;
    }
}